*{border:0;padding: 0;box-sizing: border-box;}

html{font-size:62.5%;background-color:#f0f2f5;max-width: 800px;margin-left: auto;margin-right: auto; 

}

a{
    text-decoration:none;
}
hr{
    width:90%;
    margin-left: auto;
    margin-right:auto;
    background-color: gray; 
    margin-bottom:15px;
    margin-top: -5px;
    padding:.8px;
    opacity: .4;
    z-index: 2;
}


header{
    text-align:center;
    margin-top: -25px;
    line-height:.9rem;
}
header img{

    width: 250px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

header h2{
    font-family:  Helvetica, Arial, sans-serif;
    margin-top: -5px;
font-size:2.1rem;
font-weight:normal;
}
header h3{
    font-family: Helvetica, Arial, sans-serif;
    color:#606770;
    font-size:1.2rem;
    font-weight:normal;
}

.main_section_conatiner{
    margin-top: 30px;
}

.main_section_conatiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    
}

.container_foto2{
    background-color: #f5f6f7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container_foto1 h2{color:#4b4f56;}
.container_foto2 h2{color:#1877f2;}
.container_foto1 h2, 
.container_foto2 h2{
    text-align: center;
    font-weight:400;
    height: 40px;
    
    padding-top: 10px;
    
    margin-top: -2px;
    margin-bottom:0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.4rem;
    background-color: #fff;
}




.container_foto1, .container_foto2{
    text-align: center;
    border:1px solid #eaecef;
    
}

.container_foto1:hover, .container_foto2:hover{box-shadow: 0 0 4px 1px #d7d8db;}
.container_foto1 img:hover{box-shadow: 0 0 4px 2px #d7d8db;}

.container_foto1 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 100px;
}

.container_foto2 img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.main_section_container--inputs{
    display:grid;
    grid-template-rows: 1fr 1fr  1fr  1fr 1fr;
    align-items: center;
    width: 295px;
    height:285px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 8px;
    background-color: #fff;
    
}

.label_correo_electronico, .label_contraseña, .p_olvidaste-contraseña,.label_iniciar_sesion, .label_crear-cuenta{
    text-align:center;
}

.label_correo_electronico,.label_contraseña{
    width:270px;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eaecef;
    border-radius:5px;
    padding-top: 12px;
}
.label_correo_electronico input,.label_contraseña input{
    width:260px;
    padding-left: 5px;
    outline: none;
    
}
.label_iniciar_sesion input{
    width:270px;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    color:white;
    background-color:#166fe5;
}
.p_olvidaste-contraseña a{
    color:#1877f2;
    cursor:pointer;
    font-size:1.4rem;
    font-weight: 500;
}
.label_crear-cuenta input{
    width:170px;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    color:white;
    background-color:#42b72a;
}

.hola_container{
   width:95%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 18px;
   text-align: center;
}
.hola{
   color: #1c1e21; 
   font-family: inherit;
   font-size: 1.34rem;
   font-weight: 300;
   line-height: 18px;
}

/*footer*/
.footer_principal{
    width: 100%;
    max-width: 1000px;
    height: 100px;
    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
    background-color:#fff;
}
.section_idiomas, .section_opciones{
    text-align: center;
   padding-top:20px;
   padding-bottom:5px;
}
.section_idiomas a,.section_opciones a{
    padding:7px;
    font-size: 1rem;
    line-height:1.9rem;
    color: #8a8d91;
}




.final_footer_p{
    padding-left: 5px;
    padding-top:50px;
    padding-bottom: 3px;
    background-color:#fff;
    
}
.final_footer_p p{
    text-align: left;
    font-size:1.1rem;
    font-weight:bold;
    color:#8a8d91;
    
}


